* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url('images/weather-bg.jpg');
  background-position: 50% 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

body::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(49, 46, 46, 0.25);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(9px); 
  position: absolute;
  z-index: 0;
}

.app {
  width: 100%;
  max-width: 1050px;
  background: rgba(255, 255, 255, 0.15); 
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(12px); 
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 15px;
  position: relative;
  z-index: 1;
}

.title {
  margin-bottom: 15px;
  color: #333;
}

.search {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  background: rgba(0, 0, 0, 0.301);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); 
  border-radius: 20px;
}

.search input {
  flex: 1;
  padding: 10px 20px;
  border-radius: 30px;
  background:none;
  border:none;
  color:white;
  font-family: 'Poppins', sans-serif;
}

.search input::placeholder {
  color:white;
}

.search input:focus{
  outline: none;
}

.search button {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  background: none;
}

.search-icon {
  width: 15px;
  height: 15px;
}
.weather-card {
  padding: 15px;
  border-radius: 12px;
  width: 500px;
}

.city {
  font-size: 20px;
  margin-bottom: 5px;
}

.temperature {
  font-size: 40px;
  font-weight: bold;
  margin: 10px 0;
}

.js-city-humidity, .js-city-wind {
  font-weight: bold;
}

.condition {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 15px;
}


.details {
  display: flex;
  justify-content: space-around;
}

.details div span {
  font-size: 12px;
  color: #888;
}

.details div p {
  font-weight: bold;
  margin-top: 5px;
}

.js-card-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  
}

.card {
  background: rgba(73, 71, 71, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); 
  border-radius: 16px;
  padding: 20px;
  cursor: pointer;
}

.card h1 {
  font-size: 19px;
  font-weight: 400;
}

.card p {
  font-size: 15px;
  font-weight: bold;
}

.landing-page{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.logo {
  width: 200px;
  height:200px;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  align-items: center;
}

.container img{
  justify-self: center;
  width: 100px;
  height: 100px;
}



