* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  background-image: url('images/weather-bg.jpg');
  background-position: 15% 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  width: 100%;
  max-width: 1050px;
  background: #ffffff;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin-bottom: 15px;
  color: #333;
}

.search {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.search input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

.search button {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background: #4facfe;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

.search button:hover {
  background: #328fe0;
}

.weather-card {
  background: white;
  padding: 15px;
  border-radius: 12px;
  width: 500px;
}

.city {
  font-size: 20px;
  margin-bottom: 5px;
}

.temperature {
  font-size: 40px;
  font-weight: bold;
  margin: 10px 0;
}

.js-city-humidity, .js-city-wind {
  font-weight: bold;
}

.condition {
  color: #666;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 15px;
}


.details {
  display: flex;
  justify-content: space-around;
}

.details div span {
  font-size: 12px;
  color: #888;
}

.details div p {
  font-weight: bold;
  margin-top: 5px;
}

.js-card-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  
}

.card {
  background-color: white;
  border: 1px solid black;
  border-radius: 13px;
  padding: 15px;
}

.card h1 {
  font-size: 20px;
}

.card p {
  font-size: 15px;
  font-weight: bold;
}

.landing-page{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.logo {
  width: 200px;
  height:200px;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  align-items: center;
}

.container img{
  justify-self: center;
}



