
.air-condition-container {
   background:rgba(145, 138, 138, 0.301);
   width:100%;
   grid-column: span 2;
   border-radius: 15px;
   padding: 10px;

}

.air-condition {
   display: flex;
   justify-content: space-evenly;
}