.hourly-forecast-container {
 background:rgba(145, 138, 138, 0.301);
 display: flex;
 flex-wrap: wrap;
 flex-direction: column;
 justify-content: space-evenly;
 align-items: center;
 border-radius: 16px;
 width: min(90vw, 560px);
 padding: 10px;

}

.day-forecast-cards {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); 
  border-radius: 16px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  position: relative;
  align-items: center;
 
}

.hourly-forecast-cards {
 border-right: 2px solid rgb(99, 98, 98);
 margin-right: 10px;
 padding-right: 5px;
}

.hourly-forecast-cards:last-child {
  border-right: none;
}

.hourly-forecast-cards, .hourly-forecast-container {
  flex-direction: column;
}

.hourly-forecast-info {
  display: flex;
  width: min(80vw, 500px);
 
}

.day-forecast-cards::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 90%;
  height:1.1px;
  background-color: rgba(204, 183, 183, 0.15);;
}

.day-forecast-cards h1, .hourly-forecast-cards h1 {
  font-size: 14px;
  font-weight: 400;
}


.day-forecast-cards p, .hourly-forecast-cards p {
  font-size: 12px;
  font-weight: bold;

}

.day-forecast-cards img, .hourly-forecast-cards img {
  width: 50px;
  height: 50px;
}


/* ≥ 360 — phones */
@media (min-width: 360px ) and (max-width: 767px) {
 
  .hourly-forecast-info {
    overflow-x: scroll;
  }

}