
.greetings{
  background: rgba(66, 60, 60, 0.733); 
  backdrop-filter: blur(10px) saturate(150%);
  -webkit-backdrop-filter: blur(10px) saturate(150%);
  border: 1px solid rgba(255, 255, 255, 0.3); 
  height: 200px;
  position: absolute;
  z-index: 2;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  border-radius: 10px;
  gap: 20px;
  color: white;
}
