
.greetings{
  background: rgba(0, 0, 0, 0.733); 
  backdrop-filter: blur(10px) saturate(150%);
  -webkit-backdrop-filter: blur(10px) saturate(150%);
  height: 200px;
  position: absolute;
  z-index: 2;
  display: none;
  align-items: center;
  justify-content: center;
  color: white;
  overflow:hidden;
  width: 100%;
  height: 100%;
}

.greeting-card{
  background: rgba(24, 23, 23, 0.685); 
  display:flex;
  flex-direction: column;
  gap: 20px; 
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.3); 
  padding: 30px;
  border-radius: 10px;
  width: min(90vw, 400px);
}

/* ≥ 360px — phones */
@media (min-width: 360px ) and (max-width: 767px) {
  .greeting-card{
 
  }
}

/* ≥ 768px — tablets */
@media (min-width: 768px) {}

/* ≥ 1024px — small laptops */
@media (min-width: 1024px) {}

/* ≥ 1280px — desktops */
@media (min-width: 1280px) {}

/* ≥ 1440px — large screens */
@media (min-width: 1440px) {}


