
.forecast-container{
 background:rgba(145, 138, 138, 0.301);
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-items: center;
 width:350px;
 border-radius: 20px;
 padding:10px;
 position: relative;
 z-index: 2;
}

.forecast-info {
  width: 100%;
}
