.forecast-container{
 background:rgba(145, 138, 138, 0.301);
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-items: center;
 width:min(90vw,350px);
 border-radius: 20px;
 padding:10px;
 position: relative;
 z-index: 2;
}

.forecast-info {
  width: 100%;
}


/* ≥ 360 — phones */
@media (min-width: 360px ) and (max-width: 767px) {


}

/* ≥ 768px — tablets */
@media (min-width: 768px) {}

/* ≥ 1024px — small laptops */
@media (min-width: 1024px) {}

/* ≥ 1280px — desktops */
@media (min-width: 1280px) {}

/* ≥ 1440px — large screens */
@media (min-width: 1440px) {}
