
.landing-page{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}


.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  align-items: center;
}

.container img{
  justify-self: center;
  width: 100px;
  height: 100px;
}



