
.app {
  background: rgb(17, 14, 26); 
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 15px 20px;
  position: relative;
  z-index: 1;
  
}

.weather-card {
  border-radius: 12px;
  width: 100%;
}

.condition {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 15px;
}


@media (min-width: 360px ) and (max-width: 767px) {
 .app {
    padding: 15px 10px;
 }
}

/* ≥ 768px — tablets */
@media (min-width: 768px) {}

/* ≥ 1024px — small laptops */
@media (min-width: 1024px) {}

/* ≥ 1280px — desktops */
@media (min-width: 1280px) {}

/* ≥ 1440px — large screens */
@media (min-width: 1440px) {}
