body {
  min-height: 100svh;
  background-position: 50% 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.outer-container {
 display: flex;
 width: 100%;
 justify-content: center;
 flex-direction: row;
}

.inner-container{
  display: flex;
  flex-direction: column;
  gap:20px;

}

.humidity-container, .wind-container {
  display: flex;
  flex-direction: row;

}

.outer-container.expanded {
  gap: 35px;       
}

.details {
  display: flex;
  justify-content: space-around;
}

#bgMusic {
  display: none;
}

#muteButton {
  all: unset; 
  position: absolute;
  display: inline-flex; 
  align-items: center;
  justify-content: center;
  width: 50px; 
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2); 
  color: rgb(255, 255, 255); 
  cursor: pointer; 
  transition: all 0.3s ease;
  font-size: 1.5rem; 
  z-index: 3;
  top: 12px;
  left: 12px;
}

#muteButton:hover {
  background-color: rgba(0, 0, 0, 0.4); 
  transform: scale(1.1); 
}

#muteButton:active {
  transform: scale(0.95); 
}

/* 360–1023px: phones & tablets */

@media (min-width: 360px ) and (max-width: 1023px) {

  body {
    padding:20px;
  }

 .outer-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

}
