* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  touch-action: manipulation;
}

body {
  position: relative;
  inset: 0;
}
