
.greeting-title, .question {
  font-size: 20px;
  color: white;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.city {
  font-size: 20px;
  margin-bottom: 5px;
}

.temperature {
  font-size: 40px;
  font-weight: bold;
  margin: 10px 0;
}

.title {
  margin-bottom: 15px;
  color: #333;
}

.js-city-humidity, .js-city-wind {
  font-weight: bold;
}

.details div span {
  font-size: 12px;
  color: #888;
}

.details div p {
  font-weight: bold;
  margin-top: 5px;
}

.title {
 color: rgba(194, 183, 183, 0.486);
 font-size: 13px;
 font-weight: 700;
 text-align: start;
 width: 100%;
 padding:6px
}

@media (min-width: 360px ) and (max-width: 767px) {

.landing-page-text {
 font-size: 15px;
}

.landing-page-header{
 font-size: 25px;
}

.greeting-title, .question {
  font-size: 18px;
}


}

/* ≥ 768px — tablets */
@media (min-width: 768px) {}

/* ≥ 1024px — small laptops */
@media (min-width: 1024px) {}

/* ≥ 1280px — desktops */
@media (min-width: 1280px) {}

/* ≥ 1440px — large screens */
@media (min-width: 1440px) {}
